<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">    
          <link rel="stylesheet" href="css/form.css">
    </head>
<body>
<div class="container">  
  <form method="POST" action="/form3" id="contact">
   <div class="testbox">
    <!--  <form action="/"> -->
        <h1>PANJAB UNIVERSITY, CHANDIGARH</h1>
        <h2>Teacher-wise Student Feedback Form(3<sup>rd</sup> Year)</h2>
        <p>Note:<br>
        <i> 1.) The form is to filled by the student having 65% attendance
          <br>
          2.) Please do not write your name or roll number on your form<br>
          3.) The information provided by you will be kept confidential and will be used only for student participation in quarterly enhancement</i>
        </p>
        <pre>  </pre>
          
       <table> 
  
</table>
       <!-- <h5>How satisfied were you with:<span>*</span></h5> -->
        <h4>Semester&#8195;
            <select id="dropdown" name="Semester" class="form-control" required="">
              <option disabled="" selected="" value="">Select</option>
              <option value="5">5</option>
              <option value="6">6</option>              
            </select>
        </h4>
     <pre>  </pre>
     <hr style="color:#b366ff;">
                
     <h4 class="first-name"> Subject:
               <select id="dropdown" name="1_Subject" class="form-control" required="">
                 <option disabled="" selected="" value="">Select Subject</option>
                 <option value="DBMS">DBMS</option>
                 <option value="DWDM">DWDM</option>
               </select>
             </h4><h4> Name of the teacher: 
            <select id="dropdown" name="1_Teacher" class="form-control" required="">
              <option disabled="" selected="" value="">Select Teacher</option>
              <option value="Prof. Manjeet Kaur ">Prof. Manjeet Kaur </option>
              <option value="Prof. K.K. Goyal">Prof. K.K. Goyal</option>
              <option value="Prof. P.N. Goswamy">Prof. P.N. Goswamy</option>
              <option value="Prof. R.K. Dahiya">Prof. R.K. Dahiya</option>
              <option value="Prof. K.R. Mehta">Prof. K.R. Mehta</option>
              <option value="Prof. A.M. Rao">Prof. A.M. Rao</option>
              <option value="Prof. Preeti Kaur ">Prof. Preeti Kaur </option>
              <option value="Prof. K.N. Bedi">Prof. K.N. Bedi</option>
              <option value="Prof. L.K. Mishra">Prof. L.K. Mishra</option>
              <option value="Prof. Y.R. Reddy">Prof. Y.R. Reddy</option>
            </select>

            </h4>
        <table>      
          <tbody>
          <tr>        
          </tr>  
          <tr>
            <th class="first-col">&#8195;&#8195;&#8194;Curriculum, Teaching, Learning and Evaluation</th>
            <th>&#8195;Strongly Disagree</th>
            <th> &#8195;&#8195;Disagree</th>
            <th> &#8195;&#8195;Agree</th>
            <th>&#8195;&#8195;&#8194;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col" style="color:#330066;">1.) The teacher completes the entire syllabus in time </td>
           <td><input type="radio" value="1" name="1_syllabus"></td>
            <td><input type="radio" value="2" name="1_syllabus"></td>
            <td><input type="radio" value="3" name="1_syllabus"></td>
            <td><input type="radio" value="4" name="1_syllabus"></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col" style="color:#8c1aff;">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="1_knowledge"></td>
            <td><input type="radio" value="2" name="1_knowledge"></td>
            <td><input type="radio" value="3" name="1_knowledge"></td>
            <td><input type="radio" value="4" name="1_knowledge"></td>
          </tr>
          <tr>
            <td name="communication" class="first-col" style="color:#330066;">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="1_communication"></td>
            <td><input type="radio" value="2" name="1_communication"></td>
            <td><input type="radio" value="3" name="1_communication"></td>
            <td><input type="radio" value="4" name="1_communication"></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col"  style="color:#8c1aff;">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="1_inspiration"></td>
            <td><input type="radio" value="2" name="1_inspiration"></td>
            <td><input type="radio" value="3" name="1_inspiration"></td>
            <td><input type="radio" value="4" name="1_inspiration"></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col" style="color:#330066;">5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="1_punctuality"></td>
            <td><input type="radio" value="2" name="1_punctuality"></td>
            <td><input type="radio" value="3" name="1_punctuality"></td>
            <td><input type="radio" value="4" name="1_punctuality"></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col"  style="color:#8c1aff;">6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="1_discussion"></td>
            <td><input type="radio" value="2" name="1_discussion"></td>
            <td><input type="radio" value="3" name="1_discussion"></td>
            <td><input type="radio" value="4" name="1_discussion"></td>
          </tr>
           <tr>
            <td name="Reference" class="first-col" style="color:#330066;">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="1_Reference"></td>
            <td><input type="radio" value="2" name="1_Reference"></td>
            <td><input type="radio" value="3" name="1_Reference"></td>
            <td><input type="radio" value="4" name="1_Reference"></td>
          </tr>
              <tr>
            <td name="Availability" class="first-col"  style="color:#8c1aff;">8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="1_Availability"></td>
            <td><input type="radio" value="2" name="1_Availability"></td>
            <td><input type="radio" value="3" name="1_Availability"></td>
            <td><input type="radio" value="4" name="1_Availability"></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col" style="color:#330066;">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="1_Evaluation"></td>
            <td><input type="radio" value="2" name="1_Evaluation"></td>
            <td><input type="radio" value="3" name="1_Evaluation"></td>
            <td><input type="radio" value="4" name="1_Evaluation"></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col"  style="color:#8c1aff;">10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="1_Professionalism"></td>
            <td><input type="radio" value="2" name="1_Professionalism"></td>
            <td><input type="radio" value="3" name="1_Professionalism"></td>
            <td><input type="radio" value="4" name="1_Professionalism"></td>
          </tr>
        </tbody></table>
            <h5>Feel free to add any other comments or suggestions:</h5>
            <textarea name="1_comment" rows="5"  style="border-color:#b366ff;"></textarea>
     <hr  style="color:#b366ff;">
        <pre>         </pre>
     <pre>         </pre>
     <pre>         </pre>
     
     
     
       
         
<!-------------------------Form 2 ------------------------------------------>



<hr style="color:#0073ef;" >
<div>
             <h4>Subject
               <select id="dropdown" name="2_Subject" class="form-control" required="">
                 <option disabled="" selected="" value="">Select Subject</option>
                 <option value="Wireless Communication">Wireless Communication</option>
                 <option value="Agile Software Development">Agile Software Development</option>
               </select>
             </h4>
            <h4> Name of the teacher: 
            <select id="dropdown" name="2_Teacher" class="form-control" required="">
              <option disabled="" selected="" value="">Select Teacher</option>
              <option value="Prof. Manjeet Kaur ">Prof. Manjeet Kaur </option>
              <option value="Prof. K.K. Goyal">Prof. K.K. Goyal</option>
              <option value="Prof. P.N. Goswamy">Prof. P.N. Goswamy</option>
              <option value="Prof. R.K. Dahiya">Prof. R.K. Dahiya</option>
              <option value="Prof. K.R. Mehta">Prof. K.R. Mehta</option>
              <option value="Prof. A.M. Rao">Prof. A.M. Rao</option>
              <option value="Prof. Preeti Kaur ">Prof. Preeti Kaur </option>
              <option value="Prof. K.N. Bedi">Prof. K.N. Bedi</option>
              <option value="Prof. L.K. Mishra">Prof. L.K. Mishra</option>
              <option value="Prof. Y.R. Reddy">Prof. Y.R. Reddy</option>
            </select>

            </h4>
           </div>
       <table >
          <tbody><tr>
             
            
          </tr>  
            <tr><th class="first-col">&#8195;&#8195;&#8194;Curriculum, Teaching, Learning and                 Evaluation</th>
            <th>&#8195;Strongly Disagree</th>
            <th> &#8195;&#8195;Disagree</th>
            <th> &#8195;&#8195;Agree</th>
            <th>&#8195;&#8195;&#8194;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col" style="color:#004080;">1.) The teacher completes the                entire syllabus in time </td>
           <td><input type="radio" value="1" name="2_syllabus"></td>
            <td><input type="radio" value="2" name="2_syllabus"></td>
            <td><input type="radio" value="3" name="2_syllabus"></td>
            <td><input type="radio" value="4" name="2_syllabus"></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col" style="color:#0073ef;">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="2_knowledge"></td>
            <td><input type="radio" value="2" name="2_knowledge"></td>
            <td><input type="radio" value="3" name="2_knowledge"></td>
            <td><input type="radio" value="4" name="2_knowledge"></td>
          </tr>
          <tr>
            <td name="communication" class="first-col" style="color:#004080;">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="2_communication"></td>
            <td><input type="radio" value="2" name="2_communication"></td>
            <td><input type="radio" value="3" name="2_communication"></td>
            <td><input type="radio" value="4" name="2_communication"></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col" style="color:#0073ef;">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="2_inspiration"></td>
            <td><input type="radio" value="2" name="2_inspiration"></td>
            <td><input type="radio" value="3" name="2_inspiration"></td>
            <td><input type="radio" value="4" name="2_inspiration"></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col" style="color:#004080;"> 5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="2_punctuality"></td>
            <td><input type="radio" value="2" name="2_punctuality"></td>
            <td><input type="radio" value="3" name="2_punctuality"></td>
            <td><input type="radio" value="4" name="2_punctuality"></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col"style="color:#0073ef;" >6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="2_discussion"></td>
            <td><input type="radio" value="2" name="2_discussion"></td>
            <td><input type="radio" value="3" name="2_discussion"></td>
            <td><input type="radio" value="4" name="2_discussion"></td>
          </tr>          </tr>

           <tr>
            <td name="Reference" class="first-col" style="color:#004080;">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="2_Reference"></td>
            <td><input type="radio" value="2" name="2_Reference"></td>
            <td><input type="radio" value="3" name="2_Reference"></td>
            <td><input type="radio" value="4" name="2_Reference"></td>
              <tr>
            <td name="Availability" class="first-col" style="color:#0073ef;" >8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="2_Availability"></td>
            <td><input type="radio" value="2" name="2_Availability"></td>
            <td><input type="radio" value="3" name="2_Availability"></td>
            <td><input type="radio" value="4" name="2_Availability"></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col" style="color:#004080;">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="2_Evaluation"></td>
            <td><input type="radio" value="2" name="2_Evaluation"></td>
            <td><input type="radio" value="3" name="2_Evaluation"></td>
            <td><input type="radio" value="4" name="2_Evaluation"></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col" style="color:#0073ef;" >10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="2_Professionalism"></td>
            <td><input type="radio" value="2" name="2_Professionalism"></td>
            <td><input type="radio" value="3" name="2_Professionalism"></td>
            <td><input type="radio" value="4" name="2_Professionalism"></td>
          </tr>
        </tbody></table>
        <h5>Feel free to add any other comments or suggestions:</h5>
            <textarea name="2_comment" rows="5" style="border-color:#0073ef;"></textarea>
  <hr style="color:#0073ef;">
        <pre>    </pre>
        <pre>    </pre>
       <pre>    </pre>
  
         <!------Form 3-------------------------------------------------------------------------------->

<hr style="color:#b366ff;">
<div>
               <h4>Subject
                 <select id="dropdown" name="3_Subject" class="form-control" required="">
                  <option disabled="" selected="" value="">Select Subject</option>
                  <option value="Network Security & Cryptography">Network Security & Cryptography</option>
                  <option value="Theory of Computation">Theory of Computation</option>
                 </select>
               </h4>
             <h4> Name of the teacher: 
            <select id="dropdown" name="3_Teacher" class="form-control" required="">
              <option disabled="" selected="" value="">Select Teacher</option>
              <option value="Prof. Manjeet Kaur ">Prof. Manjeet Kaur </option>
              <option value="Prof. K.K. Goyal">Prof. K.K. Goyal</option>
              <option value="Prof. P.N. Goswamy">Prof. P.N. Goswamy</option>
              <option value="Prof. R.K. Dahiya">Prof. R.K. Dahiya</option>
              <option value="Prof. K.R. Mehta">Prof. K.R. Mehta</option>
              <option value="Prof. A.M. Rao">Prof. A.M. Rao</option>
              <option value="Prof. Preeti Kaur ">Prof. Preeti Kaur </option>
              <option value="Prof. K.N. Bedi">Prof. K.N. Bedi</option>
              <option value="Prof. L.K. Mishra">Prof. L.K. Mishra</option>
              <option value="Prof. Y.R. Reddy">Prof. Y.R. Reddy</option>
            </select>

            </h4>
          </div>
        <table>
             <tbody><tr>
              
            
          </tr>   
          <tr>
            <th class="first-col">&#8195;&#8195;&#8194;Curriculum, Teaching, Learning and Evaluation</th>
            <th>&#8195;Strongly Disagree</th>
            <th> &#8195;&#8195;Disagree</th>
            <th> &#8195;&#8195;Agree</th>
            <th>&#8195;&#8195;&#8194;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col" style="color:#330066;"  >1.) The teacher completes the entire syllabus in time</td>
           <td><input type="radio" value="1" name="3_syllabus"></td>
            <td><input type="radio" value="2" name="3_syllabus"></td>
            <td><input type="radio" value="3" name="3_syllabus"></td>
            <td><input type="radio" value="4" name="3_syllabus"></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col"  style="color:#8c1aff;">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="3_knowledge"></td>
            <td><input type="radio" value="2" name="3_knowledge"></td>
            <td><input type="radio" value="3" name="3_knowledge"></td>
            <td><input type="radio" value="4" name="3_knowledge"></td>
          </tr>
          <tr>
            <td name="communication" class="first-col" style="color:#330066;">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="3_communication"></td>
            <td><input type="radio" value="2" name="3_communication"></td>
            <td><input type="radio" value="3" name="3_communication"></td>
            <td><input type="radio" value="4" name="3_communication"></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col" style="color:#8c1aff;">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="3_inspiration"></td>
            <td><input type="radio" value="2" name="3_inspiration"></td>
            <td><input type="radio" value="3" name="3_inspiration"></td>
            <td><input type="radio" value="4" name="3_inspiration"></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col"style="color:#330066;">5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="3_punctuality"></td>
            <td><input type="radio" value="2" name="3_punctuality"></td>
            <td><input type="radio" value="3" name="3_punctuality"></td>
            <td><input type="radio" value="4" name="3_punctuality"></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col"  style="color:#8c1aff;">6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="3_discussion"></td>
            <td><input type="radio" value="2" name="3_discussion"></td>
            <td><input type="radio" value="3" name="3_discussion"></td>
            <td><input type="radio" value="4" name="3_discussion"></td>
          </tr>
           <tr>
            <td name="Reference" class="first-col" style="color:#330066;">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="3_Reference"></td>
            <td><input type="radio" value="2" name="3_Reference"></td>
            <td><input type="radio" value="3" name="3_Reference"></td>
            <td><input type="radio" value="4" name="3_Reference"></td>
          </tr>
              <tr>
            <td name="Availability" class="first-col"  style="color:#8c1aff;">8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="3_Availability"></td>
            <td><input type="radio" value="2" name="3_Availability"></td>
            <td><input type="radio" value="3" name="3_Availability"></td>
            <td><input type="radio" value="4" name="3_Availability"></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col" style="color:#330066;">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="3_Evaluation"></td>
            <td><input type="radio" value="2" name="3_Evaluation"></td>
            <td><input type="radio" value="3" name="3_Evaluation"></td>
            <td><input type="radio" value="4" name="3_Evaluation"></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col"  style="color:#8c1aff;">10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="3_Professionalism"></td>
            <td><input type="radio" value="2" name="3_Professionalism"></td>
            <td><input type="radio" value="3" name="3_Professionalism"></td>
            <td><input type="radio" value="4" name="3_Professionalism"></td>
          </tr>
        </tbody></table>
        <h5>Feel free to add any other comments or suggestions:</h5>
            <textarea name="3_comment" rows="5" style="border-color:#b366ff;"></textarea>
  <hr  style="color:#b366ff;">
         <pre>    </pre>
         <pre>    </pre>
        <pre>    </pre>
  <hr style="color:#0073ef;">
         <!----------Form 4------------------------------------------------------------>

<div>
             <h4>Subject
               <select id="dropdown" name="4_Subject" class="form-control" required="">
                 <option disabled="" selected="" value="">Select Subject</option>
                 <option value="DAA">DAA </option>
                 <option value="AI">AI</option>                 
                </select>
             </h4>
       
              <h4> Name of the teacher: 
             <select id="dropdown" name="4_Teacher" class="form-control" required="">
              <option disabled="" selected="" value="">Select Teacher</option>
              <option value="Prof. Manjeet Kaur ">Prof. Manjeet Kaur </option>
              <option value="Prof. K.K. Goyal">Prof. K.K. Goyal</option>
              <option value="Prof. P.N. Goswamy">Prof. P.N. Goswamy</option>
              <option value="Prof. R.K. Dahiya">Prof. R.K. Dahiya</option>
              <option value="Prof. K.R. Mehta">Prof. K.R. Mehta</option>
              <option value="Prof. A.M. Rao">Prof. A.M. Rao</option>
              <option value="Prof. Preeti Kaur ">Prof. Preeti Kaur </option>
              <option value="Prof. K.N. Bedi">Prof. K.N. Bedi</option>
              <option value="Prof. L.K. Mishra">Prof. L.K. Mishra</option>
              <option value="Prof. Y.R. Reddy">Prof. Y.R. Reddy</option>
             </select>

              </h4>
            </div><table>
            <tbody><tr>

           
            
          
          </tr>   
          <tr>
            <th class="first-col">&#8195;&#8195;&#8194;Curriculum, Teaching, Learning and Evaluation</th>
            <th>&#8195;Strongly Disagree</th>
            <th> &#8195;&#8195;Disagree</th>
            <th> &#8195;&#8195;Agree</th>
            <th>&#8195;&#8195;&#8194;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col" style="color:#004080;">1.) The teacher completes the entire syllabus in time </td>

           <td><input type="radio" value="1" name="4_syllabus"></td>
            <td><input type="radio" value="2" name="4_syllabus"></td>
            <td><input type="radio" value="3" name="4_syllabus"></td>
            <td><input type="radio" value="4" name="4_syllabus"></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col" style="color:#0073ef;">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="4_knowledge"></td>
            <td><input type="radio" value="2" name="4_knowledge"></td>
            <td><input type="radio" value="3" name="4_knowledge"></td>
            <td><input type="radio" value="4" name="4_knowledge"></td>
          </tr>
          <tr>
            <td name="communication" class="first-col" style="color:#004080;">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="4_communication"></td>
            <td><input type="radio" value="2" name="4_communication"></td>
            <td><input type="radio" value="3" name="4_communication"></td>
            <td><input type="radio" value="4" name="4_communication"></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col" style="color:#0073ef;">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="4_inspiration"></td>
            <td><input type="radio" value="2" name="4_inspiration"></td>
            <td><input type="radio" value="3" name="4_inspiration"></td>
            <td><input type="radio" value="4" name="4_inspiration"></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col" style="color:#004080;">5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="4_punctuality"></td>
            <td><input type="radio" value="2" name="4_punctuality"></td>
            <td><input type="radio" value="3" name="4_punctuality"></td>
            <td><input type="radio" value="4" name="4_punctuality"></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col" style="color:#0073ef;">6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="4_discussion"></td>
            <td><input type="radio" value="2" name="4_discussion"></td>
            <td><input type="radio" value="3" name="4_discussion"></td>
            <td><input type="radio" value="4" name="4_discussion"></td>
          </tr>
           <tr>
            <td name="Reference" class="first-col" style="color:#004080;">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="4_Reference"></td>
            <td><input type="radio" value="2" name="4_Reference"></td>
            <td><input type="radio" value="3" name="4_Reference"></td>
            <td><input type="radio" value="4" name="4_Reference"></td>
          </tr>
              <tr>
            <td name="Availability" class="first-col" style="color:#0073ef;">8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="4_Availability"></td>
            <td><input type="radio" value="2" name="4_Availability"></td>
            <td><input type="radio" value="3" name="4_Availability"></td>
            <td><input type="radio" value="4" name="4_Availability"></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col" style="color:#004080;">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="4_Evaluation"></td>
            <td><input type="radio" value="2" name="4_Evaluation"></td>
            <td><input type="radio" value="3" name="4_Evaluation"></td>
            <td><input type="radio" value="4" name="4_Evaluation"></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col" style="color:#0073ef;">10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="4_Professionalism"></td>
            <td><input type="radio" value="2" name="4_Professionalism"></td>
            <td><input type="radio" value="3" name="4_Professionalism"></td>
            <td><input type="radio" value="4" name="4_Professionalism"></td>
          </tr>
        </tbody></table>
        <h5>Feel free to add any other comments or suggestions:</h5>
            <textarea name="4_comment" rows="5" style="border-color:#0073ef;"></textarea>
  <hr style="color:#0073ef;">
        <pre>    </pre>
        <pre>    </pre>
        <pre>    </pre>
  <hr style="color:#b366ff;">



         <!-------Form  5--------------------------------------------------------------------------->
 <div>
             <h4>Subject
               <select id="dropdown" name="5_Subject" class="form-control" required="">
                 <option disabled="" selected="" value="">Select Subject</option>
                 <option value="Professional Elective-I">Professional Elective-I</option>
                 <option value="Professional Elective-II">Professional Elective-II</option>
                </select>
             </h4>
          
         <table>
                <tbody><tr>
            </tr>  
          <tr>

<h4> Name of the teacher: 
            <select id="dropdown" name="5_Teacher" class="form-control" required="">
              <option disabled="" selected="" value="">Select Teacher</option>
              <option value="Prof. Manjeet Kaur ">Prof. Manjeet Kaur </option>
              <option value="Prof. K.K. Goyal">Prof. K.K. Goyal</option>
              <option value="Prof. P.N. Goswamy">Prof. P.N. Goswamy</option>
              <option value="Prof. R.K. Dahiya">Prof. R.K. Dahiya</option>
              <option value="Prof. K.R. Mehta">Prof. K.R. Mehta</option>
              <option value="Prof. A.M. Rao">Prof. A.M. Rao</option>
              <option value="Prof. Preeti Kaur ">Prof. Preeti Kaur </option>
              <option value="Prof. K.N. Bedi">Prof. K.N. Bedi</option>
              <option value="Prof. L.K. Mishra">Prof. L.K. Mishra</option>
              <option value="Prof. Y.R. Reddy">Prof. Y.R. Reddy</option>
            </select>

            </h4>
           </div>
          
            <th class="first-col">&#8195;&#8195;&#8194;Curriculum, Teaching, Learning and Evaluation</th>
            <th>&#8195;Strongly Disagree</th>
            <th> &#8195;&#8195;Disagree</th>
            <th> &#8195;&#8195;Agree</th>
            <th>&#8195;&#8195;&#8194;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col" style="color:#330066;">1.) The teacher completes the entire syllabus in time</td>
           <td><input type="radio" value="1" name="5_syllabus"></td>
            <td><input type="radio" value="2" name="5_syllabus"></td>
            <td><input type="radio" value="3" name="5_syllabus"></td>
            <td><input type="radio" value="4" name="5_syllabus"></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col" style="color:#8c1aff;">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="5_knowledge"></td>
            <td><input type="radio" value="2" name="5_knowledge"></td>
            <td><input type="radio" value="3" name="5_knowledge"></td>
            <td><input type="radio" value="4" name="5_knowledge"></td>
          </tr>
          <tr>
            <td name="communication" class="first-col" style="color:#330066;">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="5_communication"></td>
            <td><input type="radio" value="2" name="5_communication"></td>
            <td><input type="radio" value="3" name="5_communication"></td>
            <td><input type="radio" value="4" name="5_communication"></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col" style="color:#8c1aff;">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="5_inspiration"></td>
            <td><input type="radio" value="2" name="5_inspiration"></td>
            <td><input type="radio" value="3" name="5_inspiration"></td>
            <td><input type="radio" value="4" name="5_inspiration"></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col"style="color:#330066;">5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="5_punctuality"></td>
            <td><input type="radio" value="2" name="5_punctuality"></td>
            <td><input type="radio" value="3" name="5_punctuality"></td>
            <td><input type="radio" value="4" name="5_punctuality"></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col" style="color:#8c1aff;">6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="5_discussion"></td>
            <td><input type="radio" value="2" name="5_discussion"></td>
            <td><input type="radio" value="3" name="5_discussion"></td>
            <td><input type="radio" value="4" name="5_discussion"></td>
          </tr>
           <tr>
            <td name="Reference" class="first-col" style="color:#330066;">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="5_Reference"></td>
            <td><input type="radio" value="2" name="5_Reference"></td>
            <td><input type="radio" value="3" name="5_Reference"></td>
            <td><input type="radio" value="4" name="5_Reference"></td>
          </tr>
              <tr>
            <td name="Availability" class="first-col" style="color:#8c1aff;">8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="5_Availability"></td>
            <td><input type="radio" value="2" name="5_Availability"></td>
            <td><input type="radio" value="3" name="5_Availability"></td>
            <td><input type="radio" value="4" name="5_Availability"></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col"style="color:#330066;">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="5_Evaluation"></td>
            <td><input type="radio" value="2" name="5_Evaluation"></td>
            <td><input type="radio" value="3" name="5_Evaluation"></td>
            <td><input type="radio" value="4" name="5_Evaluation"></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col" style="color:#8c1aff;">10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="5_Professionalism"></td>
            <td><input type="radio" value="2" name="5_Professionalism"></td>
            <td><input type="radio" value="3" name="5_Professionalism"></td>
            <td><input type="radio" value="4" name="5_Professionalism"></td>
          </tr>
        </tbody></table>
        <h5>Feel free to add any other comments or suggestions:</h5>
            <textarea name="5_comment" rows="5" style="border-color:#b366ff;"> </textarea>
  <hr style="color:#b366ff;">
        <pre>    </pre>
  
         <!--------------------------------------------------------------------------------------------------->
        <div class="btn-block">
          <button type="submit" href="/">Send Feedback</button>
        </div>
      
    </div></form>

<script>
document.getElementById('contact').reset()
</script>

</div>

</body></html>