    <head>
      <link rel="stylesheet" href="css/form.css" >
    </head>
<div class="container">  
  <form method="POST" action="/" id="contact" action="" >
   <div class="testbox">
    <!--  <form action="/"> -->
        <h1>PANJAB UNIVERSITY, CHANDIGARH</h1>
        <h2>Teacher-wise Student Feedback Form</h2>
        <p>Note:<br />
        <i> 1.) The form is to filled by the student having 65% attendance
          <br />
          2.) Please do not write your name or roll number on your form<br />
          3.) The information provided by you will be kept confidential and will be used only for student participation in quarterly enhancement</i>
        </p>
        <pre>  </pre>
          
       
         <h4>Department</h4>
        <input type="text" name="dept" required/>
        <h4>Class</h4>
        <input type="text" name="class" required/>
        <h4>Semester</h4>
        <input type="text" name="sem" required/>
        
       <!-- <h5>How satisfied were you with:<span>*</span></h5> -->
        <table class="card" name="Prof. K.Rao">
           <tr class="teacher" >
            <div><h4>1. Name of the teacher: Prof. K.Rao<div></h4>
             <div><h4>Subject
             <input type="text" name="subject_1" required/>
</h4>
             </div>
           </tr>  
          <tr>
            <th class="first-col">&emsp;&emsp;&ensp;Curriculum, Teaching, Learning and Evaluation</th>
            <th>&emsp;Strongly Disagree</th>
            <th> &emsp;&emsp;Disagree</th>
            <th> &emsp;&emsp;Agree</th>
            <th>&emsp;&emsp;&ensp;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col">1.) The teacher completes the entire syllabus in time</td>
           <td><input type="radio" value="1" name="1_syllabus" /></td>
            <td><input type="radio" value="2" name="1_syllabus" /></td>
            <td><input type="radio" value="3" name="1_syllabus" /></td>
            <td><input type="radio" value="4" name="1_syllabus" /></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="1_knowledge" /></td>
            <td><input type="radio" value="2" name="1_knowledge" /></td>
            <td><input type="radio" value="3" name="1_knowledge" /></td>
            <td><input type="radio" value="4" name="1_knowledge" /></td>
          </tr>
          <tr>
            <td name="communication" class="first-col">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="1_communication" /></td>
            <td><input type="radio" value="2" name="1_communication" /></td>
            <td><input type="radio" value="3" name="1_communication" /></td>
            <td><input type="radio" value="4" name="1_communication" /></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="1_inspiration" /></td>
            <td><input type="radio" value="2" name="1_inspiration" /></td>
            <td><input type="radio" value="3" name="1_inspiration" /></td>
            <td><input type="radio" value="4" name="1_inspiration" /></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col">5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="1_punctuality" /></td>
            <td><input type="radio" value="2" name="1_punctuality" /></td>
            <td><input type="radio" value="3" name="1_punctuality" /></td>
            <td><input type="radio" value="4" name="1_punctuality" /></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col">6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="1_discussion" /></td>
            <td><input type="radio" value="2" name="1_discussion" /></td>
            <td><input type="radio" value="3" name="1_discussion" /></td>
            <td><input type="radio" value="4" name="1_discussion" /></td>
          </tr>
           <tr>
            <td name="Reference" class="first-col">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="1_Reference" /></td>
            <td><input type="radio" value="2" name="1_Reference" /></td>
            <td><input type="radio" value="3" name="1_Reference" /></td>
            <td><input type="radio" value="4" name="1_Reference" /></td>
          </tr>
              <tr>
            <td name="Availability" class="first-col">8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="1_Availability" /></td>
            <td><input type="radio" value="2" name="1_Availability" /></td>
            <td><input type="radio" value="3" name="1_Availability" /></td>
            <td><input type="radio" value="4" name="1_Availability" /></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="1_Evaluation" /></td>
            <td><input type="radio" value="2" name="1_Evaluation" /></td>
            <td><input type="radio" value="3" name="1_Evaluation" /></td>
            <td><input type="radio" value="4" name="1_Evaluation" /></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col">10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="1_Professionalism" /></td>
            <td><input type="radio" value="2" name="1_Professionalism" /></td>
            <td><input type="radio" value="3" name="1_Professionalism" /></td>
            <td><input type="radio" value="4" name="1_Professionalism" /></td>
          </tr>
        </table>
            <h4>Feel free to add any other comments or suggestions:</h4>
            <textarea name="1_comment" rows="5"></textarea> 
        <pre>    </pre>
       
         
<!-------------------------Prof. A.M. Aggarwal ------------------------------------------>




<table name="Prof. A.M. Aggarwal  ">
           <tr  class = "teacher">
            <h4>2.Name of the teacher: <B>Prof. A.M. Aggarwal</B> </h4>
             <h4>Subject
             <input type="text" name="subject_2" required/></h4>
           </tr>  
          <tr>
            <th class="first-col">&emsp;&emsp;&ensp;Curriculum, Teaching, Learning and Evaluation</th>
            <th>&emsp;Strongly Disagree</th>
            <th> &emsp;&emsp;Disagree</th>
            <th> &emsp;&emsp;Agree</th>
            <th>&emsp;&emsp;&ensp;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col">1.) The teacher completes the entire syllabus in time</td>
           <td><input type="radio" value="1" name="2_syllabus" /></td>
            <td><input type="radio" value="2" name="2_syllabus" /></td>
            <td><input type="radio" value="3" name="2_syllabus" /></td>
            <td><input type="radio" value="4" name="2_syllabus" /></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="2_knowledge" /></td>
            <td><input type="radio" value="2" name="2_knowledge" /></td>
            <td><input type="radio" value="3" name="2_knowledge" /></td>
            <td><input type="radio" value="4" name="2_knowledge" /></td>
          </tr>
          <tr>
            <td name="communication" class="first-col">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="2_communication" /></td>
            <td><input type="radio" value="2" name="2_communication" /></td>
            <td><input type="radio" value="3" name="2_communication" /></td>
            <td><input type="radio" value="4" name="2_communication" /></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="2_inspiration" /></td>
            <td><input type="radio" value="2" name="2_inspiration" /></td>
            <td><input type="radio" value="3" name="2_inspiration" /></td>
            <td><input type="radio" value="4" name="2_inspiration" /></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col">5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="2_punctuality" /></td>
            <td><input type="radio" value="2" name="2_punctuality" /></td>
            <td><input type="radio" value="3" name="2_punctuality" /></td>
            <td><input type="radio" value="4" name="2_punctuality" /></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col">6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="2_discussion" /></td>
            <td><input type="radio" value="2" name="2_discussion" /></td>
            <td><input type="radio" value="3" name="2_discussion" /></td>
            <td><input type="radio" value="4" name="2_discussion" /></td>
          </tr>
           <tr>
            <td name="Reference" class="first-col">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="2_Reference" /></td>
            <td><input type="radio" value="2" name="2_Reference" /></td>
            <td><input type="radio" value="3" name="2_Reference" /></td>
            <td><input type="radio" value="4" name="2_Reference" /></td>
          </tr>
              <tr>
            <td name="Availability" class="first-col">8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="2_Availability" /></td>
            <td><input type="radio" value="2" name="2_Availability" /></td>
            <td><input type="radio" value="3" name="2_Availability" /></td>
            <td><input type="radio" value="4" name="2_Availability" /></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="2_Evaluation" /></td>
            <td><input type="radio" value="2" name="2_Evaluation" /></td>
            <td><input type="radio" value="3" name="2_Evaluation" /></td>
            <td><input type="radio" value="4" name="2_Evaluation" /></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col">10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="2_Professionalism" /></td>
            <td><input type="radio" value="2" name="2_Professionalism" /></td>
            <td><input type="radio" value="3" name="2_Professionalism" /></td>
            <td><input type="radio" value="4" name="2_Professionalism" /></td>
          </tr>
        </table>
        <h4>Feel free to add any other comments or suggestions:</h4>
            <textarea name="2_comment" rows="5"></textarea>
        <pre>    </pre>
         <!---------Prof. B.S. Daniel----------------------------------------------------------------------------------------->


<table name="Prof. B.S. Daniel">
           <tr class = "teacher">
            <h4>3.Name of the teacher:<B> Prof. B.S. Daniel</B></h4>
             <h4>Subject
             <input type="text" name="subject_3" required/></h4>
           </tr>  
          <tr>
            <th class="first-col">&emsp;&emsp;&ensp;Curriculum, Teaching, Learning and Evaluation</th>
            <th>&emsp;Strongly Disagree</th>
            <th> &emsp;&emsp;Disagree</th>
            <th> &emsp;&emsp;Agree</th>
            <th>&emsp;&emsp;&ensp;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col">1.) The teacher completes the entire syllabus in time</td>
           <td><input type="radio" value="1" name="3_syllabus" /></td>
            <td><input type="radio" value="2" name="3_syllabus" /></td>
            <td><input type="radio" value="3" name="3_syllabus" /></td>
            <td><input type="radio" value="4" name="3_syllabus" /></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="3_knowledge" /></td>
            <td><input type="radio" value="2" name="3_knowledge" /></td>
            <td><input type="radio" value="3" name="3_knowledge" /></td>
            <td><input type="radio" value="4" name="3_knowledge" /></td>
          </tr>
          <tr>
            <td name="communication" class="first-col">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="3_communication" /></td>
            <td><input type="radio" value="2" name="3_communication" /></td>
            <td><input type="radio" value="3" name="3_communication" /></td>
            <td><input type="radio" value="4" name="3_communication" /></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="3_inspiration" /></td>
            <td><input type="radio" value="2" name="3_inspiration" /></td>
            <td><input type="radio" value="3" name="3_inspiration" /></td>
            <td><input type="radio" value="4" name="3_inspiration" /></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col">5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="3_punctuality" /></td>
            <td><input type="radio" value="2" name="3_punctuality" /></td>
            <td><input type="radio" value="3" name="3_punctuality" /></td>
            <td><input type="radio" value="4" name="3_punctuality" /></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col">6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="3_discussion" /></td>
            <td><input type="radio" value="2" name="3_discussion" /></td>
            <td><input type="radio" value="3" name="3_discussion" /></td>
            <td><input type="radio" value="4" name="3_discussion" /></td>
          </tr>
           <tr>
            <td name="Reference" class="first-col">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="3_Reference" /></td>
            <td><input type="radio" value="2" name="3_Reference" /></td>
            <td><input type="radio" value="3" name="3_Reference" /></td>
            <td><input type="radio" value="4" name="3_Reference" /></td>
          </tr>
              <tr>
            <td name="Availability" class="first-col">8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="3_Availability" /></td>
            <td><input type="radio" value="2" name="3_Availability" /></td>
            <td><input type="radio" value="3" name="3_Availability" /></td>
            <td><input type="radio" value="4" name="3_Availability" /></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="3_Evaluation" /></td>
            <td><input type="radio" value="2" name="3_Evaluation" /></td>
            <td><input type="radio" value="3" name="3_Evaluation" /></td>
            <td><input type="radio" value="4" name="3_Evaluation" /></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col">10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="3_Professionalism" /></td>
            <td><input type="radio" value="2" name="3_Professionalism" /></td>
            <td><input type="radio" value="3" name="3_Professionalism" /></td>
            <td><input type="radio" value="4" name="3_Professionalism" /></td>
          </tr>
        </table>
        <h4>Feel free to add any other comments or suggestions:</h4>
            <textarea name="3_comment" rows="5"></textarea>
        <pre>    </pre>
         <!------------Prof. R.K. Gupta---------------------------------------------------------------------------->

<table name="Prof. R.K. Gupta">
           <tr class = "teacher">
            <h4>4.Name of the teacher:<B> Prof. R.K. Gupta</B></h4>
             <h4>Subject
             <input type="text" name="subject_4" required/></h4>
           </tr>  
          <tr>
            <th class="first-col">&emsp;&emsp;&ensp;Curriculum, Teaching, Learning and Evaluation</th>
            <th>&emsp;Strongly Disagree</th>
            <th> &emsp;&emsp;Disagree</th>
            <th> &emsp;&emsp;Agree</th>
            <th>&emsp;&emsp;&ensp;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col">1.) The teacher completes the entire syllabus in time</td>
           <td><input type="radio" value="1" name="4_syllabus" /></td>
            <td><input type="radio" value="2" name="4_syllabus" /></td>
            <td><input type="radio" value="3" name="4_syllabus" /></td>
            <td><input type="radio" value="4" name="4_syllabus" /></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="4_knowledge" /></td>
            <td><input type="radio" value="2" name="4_knowledge" /></td>
            <td><input type="radio" value="3" name="4_knowledge" /></td>
            <td><input type="radio" value="4" name="4_knowledge" /></td>
          </tr>
          <tr>
            <td name="communication" class="first-col">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="4_communication" /></td>
            <td><input type="radio" value="2" name="4_communication" /></td>
            <td><input type="radio" value="3" name="4_communication" /></td>
            <td><input type="radio" value="4" name="4_communication" /></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="4_inspiration" /></td>
            <td><input type="radio" value="2" name="4_inspiration" /></td>
            <td><input type="radio" value="3" name="4_inspiration" /></td>
            <td><input type="radio" value="4" name="4_inspiration" /></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col">5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="4_punctuality" /></td>
            <td><input type="radio" value="2" name="4_punctuality" /></td>
            <td><input type="radio" value="3" name="4_punctuality" /></td>
            <td><input type="radio" value="4" name="4_punctuality" /></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col">6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="4_discussion" /></td>
            <td><input type="radio" value="2" name="4_discussion" /></td>
            <td><input type="radio" value="3" name="4_discussion" /></td>
            <td><input type="radio" value="4" name="4_discussion" /></td>
          </tr>
           <tr>
            <td name="Reference" class="first-col">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="4_Reference" /></td>
            <td><input type="radio" value="2" name="4_Reference" /></td>
            <td><input type="radio" value="3" name="4_Reference" /></td>
            <td><input type="radio" value="4" name="4_Reference" /></td>
          </tr>
              <tr>
            <td name="Availability" class="first-col">8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="4_Availability" /></td>
            <td><input type="radio" value="2" name="4_Availability" /></td>
            <td><input type="radio" value="3" name="4_Availability" /></td>
            <td><input type="radio" value="4" name="4_Availability" /></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="4_Evaluation" /></td>
            <td><input type="radio" value="2" name="4_Evaluation" /></td>
            <td><input type="radio" value="3" name="4_Evaluation" /></td>
            <td><input type="radio" value="4" name="4_Evaluation" /></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col">10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="4_Professionalism" /></td>
            <td><input type="radio" value="2" name="4_Professionalism" /></td>
            <td><input type="radio" value="3" name="4_Professionalism" /></td>
            <td><input type="radio" value="4" name="4_Professionalism" /></td>
          </tr>
        </table>
        <h4>Feel free to add any other comments or suggestions:</h4>
            <textarea name="4_comment" rows="5"></textarea>
        <pre>    </pre>



         <!--------Prof. J.K. Sharma---------------------------------------------------------------------------------------------->


<table name="Prof. J.K. Sharma">
           <tr class = "teacher">
            <h4>5.Name of the teacher:<B> Prof. J.K. Sharma</B></h4>
             <h4>Subject
             <input type="text" name="subject_5" required/></h4>
           </tr>  
          <tr>
            <th class="first-col">&emsp;&emsp;&ensp;Curriculum, Teaching, Learning and Evaluation</th>
            <th>&emsp;Strongly Disagree</th>
            <th> &emsp;&emsp;Disagree</th>
            <th> &emsp;&emsp;Agree</th>
            <th>&emsp;&emsp;&ensp;Strongly Agree</th>
          </tr>
          <tr>
            <td name="syllabus" class="first-col">1.) The teacher completes the entire syllabus in time</td>
           <td><input type="radio" value="1" name="5_syllabus" /></td>
            <td><input type="radio" value="2" name="5_syllabus" /></td>
            <td><input type="radio" value="3" name="5_syllabus" /></td>
            <td><input type="radio" value="4" name="5_syllabus" /></td>
          </tr>
          <tr>
            <td name="knowledge" class="first-col">2.) The teacher has adequate knowledge about the subject/course</td>
            <td><input type="radio" value="1" name="5_knowledge" /></td>
            <td><input type="radio" value="2" name="5_knowledge" /></td>
            <td><input type="radio" value="3" name="5_knowledge" /></td>
            <td><input type="radio" value="4" name="5_knowledge" /></td>
          </tr>
          <tr>
            <td name="communication" class="first-col">3.) The teacher communicates clearly and is well prepared</td>
            <td><input type="radio" value="1" name="5_communication" /></td>
            <td><input type="radio" value="2" name="5_communication" /></td>
            <td><input type="radio" value="3" name="5_communication" /></td>
            <td><input type="radio" value="4" name="5_communication" /></td>
          </tr>
          <tr>
            <td name="inspiration" class="first-col">4.) The teacher inspires me with his/her teaching</td>
            <td><input type="radio" value="1" name="5_inspiration" /></td>
            <td><input type="radio" value="2" name="5_inspiration" /></td>
            <td><input type="radio" value="3" name="5_inspiration" /></td>
            <td><input type="radio" value="4" name="5_inspiration" /></td>
          </tr>
          <tr>
            <td name="punctuality" class="first-col">5.) The teacher is punctual in class</td>
            <td><input type="radio" value="1" name="5_punctuality" /></td>
            <td><input type="radio" value="2" name="5_punctuality" /></td>
            <td><input type="radio" value="3" name="5_punctuality" /></td>
            <td><input type="radio" value="4" name="5_punctuality" /></td>
          </tr>
              <tr>
            <td name="discussion" class="first-col">6.) The teacher encourages participation and discussion in the class</td>
            <td><input type="radio" value="1" name="5_discussion" /></td>
            <td><input type="radio" value="2" name="5_discussion" /></td>
            <td><input type="radio" value="3" name="5_discussion" /></td>
            <td><input type="radio" value="4" name="5_discussion" /></td>
          </tr>
           <tr>
            <td name="Reference" class="first-col">7.) The teacher uses teaching aids, hanouts, gives suitable references</td>
            <td><input type="radio" value="1" name="5_Reference" /></td>
            <td><input type="radio" value="2" name="5_Reference" /></td>
            <td><input type="radio" value="3" name="5_Reference" /></td>
            <td><input type="radio" value="4" name="5_Reference" /></td>
          </tr>
              <tr>
            <td name="Availability" class="first-col">8.) The teacher is available and accessible in the department</td>
            <td><input type="radio" value="1" name="5_Availability" /></td>
            <td><input type="radio" value="2" name="5_Availability" /></td>
            <td><input type="radio" value="3" name="5_Availability" /></td>
            <td><input type="radio" value="4" name="5_Availability" /></td>
          </tr>
           <tr>
            <td name="Evaluation" class="first-col">9.) The Internal evaluation process is fair and unbiased</td>
            <td><input type="radio" value="1" name="5_Evaluation" /></td>
            <td><input type="radio" value="2" name="5_Evaluation" /></td>
            <td><input type="radio" value="3" name="5_Evaluation" /></td>
            <td><input type="radio" value="4" name="5_Evaluation" /></td>
          </tr>
              <tr>
            <td name="Professionalism" class="first-col">10.) The teacher maintains professionalism in all areas</td>
            <td><input type="radio" value="1" name="5_Professionalism" /></td>
            <td><input type="radio" value="2" name="5_Professionalism" /></td>
            <td><input type="radio" value="3" name="5_Professionalism" /></td>
            <td><input type="radio" value="4" name="5_Professionalism" /></td>
          </tr>
        </table>
        <h4>Feel free to add any other comments or suggestions:</h4>
            <textarea name="5_comment" rows="5"></textarea>
        <pre>    </pre>
         <!--------------------------------------------------------------------------------------------------->
        <div class="btn-block">
          <button type="submit" href="/">Send Feedback</button>
        </div>
      </form>
    </div>