<!DOCTYPE html>
<html lang="en">

<head>
    <title>FEEDBACK B.E.(IT)</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

     <link rel="stylesheet" href="css/styles.css" >
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body background="https://source.unsplash.com/1500x790/?study">
  <header class="jumbotron " style="background:#b366ff;">

                  <div  class="container">
                     <div class="row row-header">
                
                         <div class="col-12 col-sm align-self-center">   
                          <a href="./form1" ><img src="image/logo.png" class="img-fluid"></a>
                         </div>
                         <div class=" col-12 col-sm-6 " >
                           <h1>FEEDBACK</h1>
                           <h1>I.T. Department</h1>
                           <p>University Institute of Engineering and Technology</p>
                           <p>P.U. Chandigarh</p>                       
                         </div>
                     </div>
                 </div>
           </header>


  <div class="container col-4 col-sm-2 login_box ">
        <div class="card" style="width: 18rem; border:3px solid black;">
 <h5 class="card-title" style="background:#b366ff; margin:0px; text-align:center; height:50px;" >Let's Get Started</h5>
            <div class="card-body" style="background-color: #e6ccff; align:center;">
             
             <div> <a href="./form1" class="btn btn-primary" id="button">1<sup>st</sup>Year</a> </div>
             <div> <a href="./form2" class="btn btn-primary" id="button">2<sup>nd</sup>Year</a> </div>
             <div> <a href="./form3" class="btn btn-primary"id="button">3<sup>rd</sup>Year</a> </div>
             <div> <a href="./form4" class="btn btn-primary"id="button">4<sup>th</sup>Year</a> </div>
            </div>
          </div>

   </div>














    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-7 col-sm-5">
                   <h5>Our Address</h5>
                    <address> 
                      <h6 style="color:floralwhite;">
                        University Institute of Engineering and Technology<br>
                         Sector 25, South Campus,<br>
                        Panjab University,<br>
                        Chandigarh (Union Territory), INDIA<br>
                        PINCODE : 160014<br>		             
		               <i class="fa fa-phone fa-lg"></i>Phone: 0172-2541242<br>
                               <i class="fa fa-envelope fa-lg"></i>Mail: 
                               <a class="highlight" href="mailto:directoruiet@pu.ac.in">                                                       <u>directoruiet@pu.ac.in</u></a>
                       </h6>
		    </address>
                </div>   
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2021, developed by
                       <a  class="highlight" href="https://www.linkedin.com/in/aastha-2916a3207"> 
                          <u>Aastha Sharma</u></a>
                     & <a  class="highlight"href="https://www.linkedin.com/in/ishpreet-saluja-487449197">
                        <u>Ishpreet Saluja</u></a></p>
                </div>
           </div>
        </div>
    </footer>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>