h1
{
  margin-bottom:0
}
h2
{
 margin-top:0;
}
body
{
color: #252324;
  background: #394f8a;}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  
  tr:nth-child(even){color:#212a48;}
  tr:nth-child(odd):not(:first-child){color:#365194;}
input[type="radio"]
{
  border:1px solid #212a48; 
}

  


