h1
{
  margin-bottom:0
}
h2
{
 margin-top:0;
}
body
{
color: #252324;
  background: #394f8a;}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  
  tr:nth-child(even){color:#212a48;}
  tr:nth-child(odd):not(:first-child){color:#365194;}
input[type="radio"]
{
  border:1px solid #212a48; 
}

  
  

  
   h1{
     color:333333;
     margin-top: 50px;
     text-align: center;
   }
   h2{
     color:333333;
     font-size: 30px;
     text-align: center;}
   h4{
   margin-left: 40px;
    }
   h5{margin-left: 40px;font-size: 17px;
   }
 
   p
   {
    margin-left:40px
   }
   td
   {
     padding: 0 40px
   }
   th:first-child{text-align:left}
 
  
     
   input
   {
     border: 1px solid;
     border-color: #394f8a;
     margin-left: 40px
   }
  
   button{
     background-color: #394f8a;
     border-color:  #394f8a;
     color: white ;
     margin-left: 40px;}
   textarea{ 
     border:1px solid #394f8a;
     margin-left: 40px;}
 .teacher{
   background:#94baff ;
   font-family: Stencil Std, fantasy;  
   font-color : floral white;
   } 
table{
border:1px solid #394f8a;
}


